Welcome to jupiter

In [6]:
print("Hello jupiter")

x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
print(x + y)

Hello jupiter
14

In [30]:
from IPython.display import display
from tabulate import tabulate

# Données de la table
donnees = [
    ["Nom", "Âge", "Ville", "Profession", "Salaire", "Hobbies", "Enfants"],
    ["John Doe", 30, "Paris", "Ingénieur", 5000, "Piano", "Tennis", True ],
    ["Jane Smith", 25, "Londres", "Développeuse", 4500, "Guitare", "Voyages", False],
    ["Alice Johnson", 35, "New York", "Avocate", 7000, "Vélo", "Cinéma", True]
]

# Générer la table HTML
table_html = tabulate(donnees, headers='firstrow', tablefmt='html')

# Afficher la table sans les balises HTML
display(table_html)

'<table>\n<thead>\n<tr><th>             </th><th style="text-align: right;">  Nom</th><th>Âge     </th><th>Ville       </th><th style="text-align: right;">  Profession</th><th>Salaire  </th><th>Hobbies  </th><th>Enfants  </th></tr>\n</thead>\n<tbody>\n<tr><td>John Doe     </td><td style="text-align: right;">   30</td><td>Paris   </td><td>Ingénieur   </td><td style="text-align: right;">        5000</td><td>Piano    </td><td>Tennis   </td><td>True     </td></tr>\n<tr><td>Jane Smith   </td><td style="text-align: right;">   25</td><td>Londres </td><td>Développeuse</td><td style="text-align: right;">        4500</td><td>Guitare  </td><td>Voyages  </td><td>False    </td></tr>\n<tr><td>Alice Johnson</td><td style="text-align: right;">   35</td><td>New York</td><td>Avocate     </td><td style="text-align: right;">        7000</td><td>Vélo     </td><td>Cinéma   </td><td>True     </td></tr>\n</tbody>\n</table>'

In [29]:
students = ["Hermine", "Henry", "Gobi" ]
for _ in students:
    print(_)

Hermine
Henry
Gobi

In [28]:
studens = [
    {"name": "Hermine", "house": "Gryffindor", "Patronus": "Otter"},
    {"name": "Henry", "house": "Slytherin", "Patronus": "Stag"},
    {"name": "Gobi", "house": "Hufflepuff", "Patronus": None}
]
for student in studens:
    
    print(student["name"], student["house"], student["Patronus"], sep=" | ")

Hermine | Gryffindor | Otter
Henry | Slytherin | Stag
Gobi | Hufflepuff | None

conda list